<!DOCTYPE html>
<html>
  <head>
    <title>RailsContacts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/kinds">Tipo de Contato</a>
      </li>

      <li>
        <a href="/contacts">Contatos</a>
      </li>

      <li>
        <a href="/phones">Telefones</a>
      </li>

      <li>
        <a href="/addresses">Endereços</a>
      </li>

<br>

      <li><%= link_to 'Home', root_path  %></li>
      <li><%= link_to 'Kinds', kinds_path  %></li>
      <li><%= link_to 'Contacts', contacts_path  %></li>
      <li><%= link_to 'Phones', phones_path  %></li>
      <li><%= link_to 'Address', addresses_path  %></li>

    </ul>



    <div class="container">
      <%= yield %>

    </div>
  </body>
</html>
